@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'daisyui/dist/full.css';
@import url("../node_modules/inter-ui/inter.css");
@import url("../node_modules/inter-ui/inter-variable.css");
@import url("../node_modules/react-tooltip/dist/react-tooltip.css");
:root,
html,
body {
  font-family: "Roboto", Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  background-color: #f5f5f5;
  color: #333;
}

@supports (font-variation-settings: normal) {
  :root,
  html,
  body {
    font-family: InterVariable, sans-serif;
  }
}
a {
  color: #3291cd;
}
button:hover {
  color: #007bff;
  background-color: transparent;
}
